* {
  margin: 0;
}
.main, .content {
  background-color: black;
  height: 100vh;
}

img {
  height: 20vh;
}


.background {
  position: absolute;
  width: 70%;
  /* background-color: black; */
  background-image: url("./assets/image/pubg.png");
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  height: 100vh;
  z-index: 1;
  transition: 2s;
}

/* HOME SECTION*/
/* ================ */
.container, .content {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-template-rows: 20vh 20vh 20vh;
  grid-template-areas: 
  "left ... right"
  "... middle ..."
  "b-left ... b-right"
  ;
  justify-content: center;
  align-content: center;
  width: 70%;
  background: radial-gradient(white, yellow, black);
  margin: 0 auto;
  height: 100vh;
}

.hex {
  align-self: center;
  justify-self: center;
}

#hex-0 {
  height: 25vh;
}


#hex-1 {
  grid-area: left;
}

#hex-2 {
  grid-area: right;
}

#hex-3 {
  grid-area: b-left;
}

#hex-4 {
  grid-area: b-right;
}

.middle {
  grid-area: middle;
  filter: invert(48%) sepia(79%) saturate(100%) hue-rotate(500deg) brightness(118%) contrast(119%);
 }

/* Hexagon */
.child-hex {
  display: none;
}

.nav {
  position: absolute;
  display: inline;
  left: 50%;
  top: 49%;
  transform: translate(-50%, -50%);
  z-index: 0;
  font-size: 1.5vw;
  color: white;
  text-align: center;
}

#close {
  display: none;
}

.nav, .hex {
  z-index: 8;
}

input {
  /* opacity: 0; */
  position: relative;
  width: 200px; 
  height: 200px; 
  z-index: 10;
  margin: 9.5vw 23vw;
  opacity: 0;
}

/* Class Margin and Padding */

/* Animation */
.container:hover .child-hex {
  filter: blur(10px);
}

.container .middle:hover {
  filter: blur(0);
}

input:checked ~ .child-hex {
  display: block;
  /* transform: translate(50px, 100px); */
}

input:hover ~ .middle {
  transform: scale(2, 2);
}

input:hover ~ p.p-main {
  transform: scale(2, 2);
  left: 46%;
  top: 46%;
  /* transform: translate(-50%, -50%); */
}

input:checked  {
  z-index: 10;
  margin: 9.5vw 3vw;
  /* transform: translate(50px, 100px); */
}

input:checked ~ #open {
  display: none;
}

input:checked ~ #close {
  display: inline;
}

.main .container .child-hex:hover {
  display: block;
  filter: blur(0);
  transform: scale(2, 2);
}

/* .content {
  display: none;
} */

.content:hover ~:not(.content) {
  /* display: block; */
  filter: blur(10px);
}

#hex-1:hover ~ .background {
  /* background-color: green; */
  background: radial-gradient(blue, red, green);
  transition: 2s;
  background-image: url("./assets/image/pubg-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}



/* SECTION CONTENT */
/* .nav-aside p {
  position: relative;
  display: inline;
  left: 1;
  top: 49%;
  transform: translate(-50%, -50%);
  z-index: 0;
  font-size: 1.5em;
  color: white;
  text-align: center;
} */
.home {
  position: relative;
  left: 3.75vw;
  top: -6.5vw;
}