* {
  margin: 0;
  font-family: 'Crete Round', serif;
  font-size: large;
}

a {
  text-decoration: none;
}

.main, .content {
  background: black
}

img {
  height: 20vh;
}


.background {
  position: absolute;
  width: 70%;
  background-image: url("./assets/image/pubg.png");
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  height: 100vh;
  z-index: 1;
  transition: 2s;
}

/* HOME SECTION*/
/* ================ */
.container {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-template-rows: 20vh 20vh 20vh;
  grid-template-areas: 
  "left ... right"
  "... middle ..."
  "b-left ... b-right"
  ;
  justify-content: center;
  align-content: center;
  width: 70%;
  background: radial-gradient(white, yellow, black);
  margin: 0 auto;
  height: 100vh;
}

.hex {
  align-self: center;
  justify-self: center;
}

#hex-0 {
  height: 25vh;
}


#hex-1 {
  grid-area: left;
}

#hex-2 {
  grid-area: right;
}

#hex-3 {
  grid-area: b-left;
}

#hex-4 {
  grid-area: b-right;
}

.middle {
  grid-area: middle;
  filter: invert(48%) sepia(79%) saturate(100%) hue-rotate(500deg) brightness(118%) contrast(119%);
 }

/* Hexagon */
.child-hex {
  display: none;
}

.nav {
  position: absolute;
  display: inline;
  left: 50%;
  top: 49%;
  transform: translate(-50%, -50%);
  z-index: 0;
  font-size: 1.5vw;
  text-align: center;
  color: chocolate;
}

#close {
  display: none;
}

.nav, .hex {
  z-index: 8;
}

input {
  position: relative;
  width: 200px; 
  height: 200px; 
  z-index: 10;
  margin: 9.5vw 23vw;
  opacity: 0;
}

/* Animation */
.container:hover .child-hex {
  filter: blur(2px);
}

.container .middle:hover {
  filter: blur(0);
}

input:checked ~ .child-hex {
  display: block;
}

input:hover ~ .middle {
  transform: scale(2, 2);
}

input:hover ~ p.p-main {
  transform: scale(2, 2);
  left: 46%;
  top: 46%;
}

input:checked  {
  z-index: 10;
  margin: 9.5vw 3vw;
}

input:checked ~ #open {
  display: none;
}

input:checked ~ #close {
  display: inline;
}

.main .container .child-hex:hover {
  display: block;
  filter: blur(0);
  transform: scale(2, 2);
}

#hex-1:hover ~ .background {
  transition: 2s;
  background-image: url("./assets/image/pubg-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

#hex-2:hover ~ .background {
  transition: 2s;
  background-image: url("./assets/image/Map4-savage.jpg");
  filter: grayscale(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

#hex-3:hover ~ .background {
  transition: 2s;
  background-image: url("./assets/image/guns-34272.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

#hex-4:hover ~ .background {
  transition: 2s;
  background-image: url("./assets/image/Plane_Profile_Image.png");
  filter: grayscale(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

/* SECTION CONTENT */
.home {
  position: relative;
  left: 0vw;
  top: -12.5vh;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 5fr;
  justify-content: center;
  align-content: center;
  width: 70%;
  background: radial-gradient(white, yellow, black);
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}

.title {
  height: 1.5em;
  margin-top: 2em;
  font-size: 2.5em;
  text-align: center;
  background-color: gray;
  opacity: 80%;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  padding: 1em;
  color: black;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: yellow;
}

.aside {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "nav text text"
    "nav2 text text"
    "nav3 text text"
  ;
  max-height: 100vh;
  width: 60vw;
}

.text-container {
  grid-template-columns: 15vw 15vw;
  grid-gap: 5vw 10vw;
  grid-area: text;
  align-items: center;
}

.text-content {
  display: none;
  z-index: 100;
  position: relative;
  color: white;
  background-color: dimgray;
  opacity: 80%;
  padding: 2em;
  border-radius: 2em;
  font-size: 1.02em;
}


#nav1 {
  grid-area: nav;
}

#nav2 {
  grid-area: nav2;
}

#nav3 {
  grid-area: nav3;
}

.nav-aside {
  display: flex;
  flex-direction: column;
  grid-area: nav;
  text-align: center;
}

.content-background {
  position: relative;
  right: -170%;
  bottom: 55%;
  background-image: url("./assets/image/pubg.png");
  background-size: 20em;
  background-repeat: no-repeat;
  background-position: right;
  margin: 0 -10em;
  height: 100vh;
  z-index: 1;
  transition: 2s;
}

#nav1:hover ~ .content-background {
  transition: 2s;
  background-image: url("./assets/image/pubg-logo.png");
  background-size: 20em;
  background-repeat: no-repeat;
  background-position-y: center;
}

#nav2:hover ~ .text-container #text-info1{
  display: block;
}

#nav3:hover ~ .text-container #text-info2{
  display: block;
}

.nav-aside #info2:hover #text-info2 {
  display: block;
}

/* Content 2 */

#nav2:hover ~ .content-background#content2 {
  transition: 2s;
  background-image: url("./assets/image/Pubg_erangel_map.jpg");
  background-size: 20em;
  background-repeat: no-repeat;
  background-position-y: center;
}

#nav3:hover ~ .content-background#content2 {
  transition: 2s;
  background-image: url("./assets/image/sanhok_map.jpg");
  background-size: 20em;
  background-repeat: no-repeat;
  background-position-y: center;
}

/* Content 3 */
#nav2:hover ~ .content-background#content3 {
    transition: 2s;
    background-image: url("./assets/image/AKM\ \(1\).png");
    background-size: 20em;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  
  #nav3:hover ~ .content-background#content3 {
    transition: 2s;
    background-image: url("./assets/image/Icon_weapon_Kar98k.png");
    background-size: 15em;
    /* top: 50em; */
    background-repeat: no-repeat;
    background-position-y: center;
  }

/* Content 4 */
#nav2:hover ~ .content-background#content4 {
  transition: 2s;
  background-image: url("./assets/image/Motorcycle-without-sidecar-1.png");
  background-size: 20em;
  background-repeat: no-repeat;
  background-position-y: center;
}
  
#nav3:hover ~ .content-background#content4 {
  transition: 2s;
  background-image: url("./assets/image/Sedan_dev.jpg");
  background-size: 20em;
  background-repeat: no-repeat;
  background-position-y: center;
}